.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    min-height: 500px;
}

.array-bar {
    width: 2px;
    background-color: rgb(50, 156, 255);
    display: inline-block;
    margin: 0 1px;
}

.button-container {
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 10px;

}